*.slo
*.lo
*.o
*.obj
*.so
*.lai
*.la
*.a
*.elf
*.hex
*.bin
lib*.so
lib*.so.*
*.d
.dep
build
*.cout
*.pbd
*.pbi
*.browse
*.pyc
__pycache__
.ipynb_checkpoints
*.swp
*~
*.bak
*.tmp
*.log
*.db
**/.idea/*
!/.idea/dictionaries
!/.idea/dictionaries/*
.metadata
.settings
.project
.cproject
.pydevproject
