name: Sapog tests
on: push
jobs:
  runtests:
    runs-on: [ self-hosted ]
    steps:
      - name: checking out
        uses: actions/checkout@v2
      - name: Turning on the USB port
        run: sudo ykushcmd ykush3 -u 1
      - name: Building Sapog
        run: |
          source /home/zubaxpc/.profile
          source /home/zubaxpc/.bashrc
          echo $PATH
          echo $USER
          python firmware/tests/src/builder.py build
          cd firmware
          make dsdl
          make -j4
      - name: Enabling a can interface
        run: sudo slcand -o -s8 -t hw -S 3000000 $(realpath /dev/serial/by-id/usb-Zubax*Babel*-if00) && sudo ifconfig slcan0 up && sudo ifconfig slcan0 txqueuelen 100
      - name: Building Python DSDL
        run: yakut compile /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/public_regulated_data_types/reg /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/public_regulated_data_types/uavcan --output /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces
      - name: Powering on psu
        run: groom_power.py on
      - name: Powering on sapog
        run: groom_power.py -v 15 && sleep 10 # boot time
      - name: Flashing Sapog
        run: /home/zubaxpc/gcc-arm-none-eabi-10.3-2021.10/bin/arm-none-eabi-gdb /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/build/compound.elf -ex "target extended-remote $(realpath /dev/serial/by-id/usb-Black*-if00)" -ex "mon swdp_scan" -ex "attach 1" -ex "load" -ex "kill" -ex "quit" -nh --batch
      - name: Running tests
        run: PYTHONPATH=$PYTHONPATH:/home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces/ python3 -m pytest /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/tests/src/tester.py
      - name: Cleanup of a failure
        if: ${{ failure() }}
        run: |
          sudo ykushcmd ykush3 -d 1
          groom_power.py poweroff
      - name: Cleanup after sucessful tests
        run: |
          sudo ykushcmd ykush3 -d 1
          groom_power.py poweroff
