name: Sapog tests
on: push
jobs:
  runtests:
    runs-on: [ self-hosted ]
    if:
      contains(github.event.head_commit.message, '#groom')
    steps:
      - name: checking out
        uses: actions/checkout@v2
      - name: Calling the begin mechanism
        run: groom_begin.py sapog
      - name: installing dependencies
        run: |
          python -m pip install -U nunavut yakut pytest pytest-asyncio
          sudo apt install libjack-jackd2-dev libasound2-dev
      - name: Building Sapog
        run: |
          source /home/zubaxpc/.profile
          source /home/zubaxpc/.bashrc
          echo $PATH
          echo $USER
          python firmware/tests/src/builder.py build
          cd firmware
          make dsdl
          make -j4
      - name: Upload artifacts
        id: verification_prerequisite
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: |
            ${{github.workspace}}/**/*.bin
            ${{github.workspace}}/**/*.elf
          retention-days: 90
      - name: Creating and enabling all can interfaces
        run: set -- $(realpath /dev/serial/by-id/usb-Zubax*Babel*-if00) && for ((i=1;i<=$#;i++)); do sudo slcand -o -s8 -t hw -S 3000000 "${!i}" "slcan$((i-1))" && sudo ifconfig "slcan$((i-1))" txqueuelen 100 && sudo ifconfig "slcan$((i-1))" up; done
      - name: Building Python DSDL
        run: yakut compile /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/public_regulated_data_types/reg /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/public_regulated_data_types/uavcan --output /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces
      - name: Powering on sapog
        run: groom_power.py -v 15 && sleep 2.5 # boot time
      - name: Flashing Sapog
        run: /home/zubaxpc/gcc-arm-none-eabi-10.3-2021.10/bin/arm-none-eabi-gdb /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/build/compound.elf -ex "target extended-remote $(realpath /dev/serial/by-id/usb-Black*-if00)" -ex "mon swdp_scan" -ex "attach 1" -ex "load" -ex "kill" -ex "quit" -nh --batch
      - name: Running essential tests
        run: PYTHONPATH=$PYTHONPATH:/home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces/ python -m pytest /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/tests/src/test_essential.py
      - name: Running register tests
        run: PYTHONPATH=$PYTHONPATH:/home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces/ python -m pytest /home/zubaxpc/sapog-runner/_work/sapog/sapog/firmware/tests/src/test_register.py
      - name: Cleanup of a failure
        if: ${{ failure() }}
        run: |
          groom_end.py sapog
      - name: Cleanup after sucessful tests
        run: |
          groom_end.py sapog
