name: Sapog tests
on: push
jobs:
  runtests:
    runs-on: [ self-hosted ]
    if:
      contains(github.event.head_commit.message, '#groom')
    steps:
      - name: checking out
        uses: actions/checkout@v2
      - name: Calling the begin mechanism
        run: groom_begin.py sapog
      - name: installing dependencies
        run: |
          python -m pip install -U nunavut yakut pytest pytest-asyncio
          sudo apt install -y libjack-jackd2-dev libasound2-dev unzip net-tools
          echo -n "/home/groom/sapog-stuff/gcc-arm-none-eabi-10.3-2021.10/bin:/home/groom/sapog-stuff/gcc-arm-none-eabi-10.3-2021.10/arm-none-eabi/bin:" >> $GITHUB_PATH
      - name: Validate the configuration
        run: |
          echo "USER: $USER"
          echo "CWD: $(pwd); GitHub workspace: ${{github.workspace}}"
          echo "GITHUB_PATH: $GITHUB_PATH"
          echo "PATH: $PATH"
          setup_slcan --help
          arm-none-eabi-gcc --version
          python --version
          nnvg --version
      - name: Building Sapog
        run: |
          source /home/groom/.profile
          source /home/groom/.bashrc
          echo $PATH
          echo $USER
          python firmware/tests/src/builder.py build
          cd firmware
          export DISTCC_POTENTIAL_HOSTS='192.168.1.16'
          make dsdl
          pump make -j15 CC="distcc arm-none-eabi-gcc" CXX="distcc arm-none-eabi-gcc"
      - name: Creating and enabling all can interfaces
        run: set -- $(realpath /dev/serial/by-id/usb-Zubax*Babel*-if00) && for ((i=1;i<=$#;i++)); do sudo slcand -o -s8 -t hw -S 3000000 "${!i}" "slcan$((i-1))" && sudo ifconfig "slcan$((i-1))" txqueuelen 100 && sudo ifconfig "slcan$((i-1))" up; done
      - name: Building Python DSDL
        run: yakut compile /home/groom/sapog-runner/_work/sapog/sapog/firmware/public_regulated_data_types/reg /home/groom/sapog-runner/_work/sapog/sapog/firmware/public_regulated_data_types/uavcan --output /home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces
      - name: Powering on sapog
        run: groom_power.py -v 15 && sleep 2.5 # boot time
      - name: Flashing Sapog
        run: arm-none-eabi-gdb /home/groom/sapog-runner/_work/sapog/sapog/firmware/build/compound.elf -ex "target extended-remote $(realpath /dev/serial/by-id/usb-Black*-if00)" -ex "mon swdp_scan" -ex "attach 1" -ex "load" -ex "kill" -ex "quit" -nh --batch && sleep 4
      - name: Running bootloader tests
        run: PYTHONPATH=$PYTHONPATH:/home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces/ python -m pytest /home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/src/test_bootloader.py && sleep 4
      - name: Running essential tests
        run: PYTHONPATH=$PYTHONPATH:/home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces/ python -m pytest /home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/src/test_essential.py
      - name: Running register tests
        run: PYTHONPATH=$PYTHONPATH:/home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces/ python -m pytest /home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/src/test_register.py
      - name: Running ESC tests
        run: PYTHONPATH=$PYTHONPATH:/home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/deps/namespaces/ python -m pytest /home/groom/sapog-runner/_work/sapog/sapog/firmware/tests/src/test_esc.py
      - name: Cleanup of a failure
        if: ${{ failure() }}
        run: |
          groom_end.py sapog
      - name: Cleanup after sucessful tests
        run: |
          groom_end.py sapog
